@media screen and (max-width:900px) {
    body {
        color: white;
        overflow-y: scroll !important;
        margin: 0px;
    }
    h1{
        font-size: 2vh;
    }
    .wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .vidCon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100vh;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        z-index: -1;
        position: fixed;
    }
    .video {
        width: 100vw;
        max-height: 45vh;
        z-index: -1;
        background: url("video/poster.jpg") no-repeat;
        background-size: cover;
        opacity: 0;
        
    }
    .thing {
        height: 82vh;
    }

    .riv {
        margin-left: 7vw;
        font-size: 9vw;
        text-align: left;
        opacity: 0;
        margin-top: 11vh;
        
    }
    .about {
        text-align: center;
        font-size: 3vw;
        opacity: 0;
        font-family: 'Inconsolata', monospace;
        padding-bottom: 16h;
    }
    .arrow {
        font-size: 3vw !important;
        opacity: .4;
    }
    .buttCon {
        position: fixed;
        top: 0px;
        width: 98%;
        display: none;
    }
    .butts {
        display: none;
        font-size: 3vw;
    }
    .infoCon {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: justify;
        opacity: 0;
        margin: 2vw;
        height: 100vh;
        
    }

    .h { display: inline-block;
        opacity: 1;
        
        font-size: 6vw;
        color: aliceblue;
        text-shadow: 2px 0px 4px rgba(999, 999, 999, 0.4), -2px 0px 4px rgba(999, 999, 999, 0.4);
        margin-bottom: 5vw;
        margin-right:4vw;
        margin-left:4vw;

    }

    .p {
        opacity: 0;
        display: none;
        font-size: 3.2vw
    }
    .social {
        -webkit-box-ordinal-group: 101;
            -ms-flex-order: 100;
                order: 100;
        padding-top: 10vh;
        font-size: 4vh;
    }
    .soFl {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justFify-content: flex-end;
        letter-spacing: 3vw;
    }
    .rot{
            -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
        width: 84vw;
        text-align: center;
        font-size: 7vw
        
    }

}

@media screen and (min-width:901px) {
    body {
        position: fixed;
        
    }
    h1 {
        font-size: 4vh;
    }
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        background: url("video/poster.jpg") no-repeat;
        background-size: cover;
        -webkit-filter: hue-rotate();
        filter: hue-rotate();
    }
    .wrap {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
        grid-template-columns: repeat(20, 5vw);
        -ms-grid-rows: 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh 5vh;
        grid-template-rows: repeat(20, 5vh);
        height: 100vh;
        width: 100vw;
    }
    .thing {
        display: -ms-grid;
        display: grid;
        -ms-grid-row: 2;
        -ms-grid-row-span: 8;
        -ms-grid-column: 2;
        -ms-grid-column-span: 8;
        grid-row: 2/10;
        grid-column-start: 2;
        grid-column-end: 10;
        overflow: visible;
    }
    .riv {
        opacity: 0;
        font-family: 'Inconsolata', monospace;
        text-align: left;
        font-size: 8vw;
        color: rgba(999, 999, 999, .3);
        letter-spacing: 0vw;
    }
    .buttCon {
        display: -ms-grid;
        display: grid;
        -ms-grid-row: 2;
        -ms-grid-row-span: 2;
        -ms-grid-column: 11;
        -ms-grid-column-span: 9;
        grid-column-start: 11;
        grid-column-end: 20;
            
        grid-row: 2/4;
        color: white;
    }
    button {
        background-color: transparent;
        font-size: 1.2vw;
        cursor:hand;
        cursor: pointer;
    }
    button:active {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }

    
    .butts {
        color: aliceblue;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        -webkit-box-pack: justify;
                justify-content: space-between;        
        border: none;
    }
    .info {
        font-size: 2vh;
            -ms-flex-direction: column;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                    flex-direction: column;
        color: whitesmoke;
        z-index: 1;
        padding-right: 1vh;
        padding-left: 1vh;
        text-align: justify;
        max-width: 45vw;
        
        
        
    }
    .infoCon {
        display: grid;
        display: -ms-grid;
        -ms-grid-row: 3;
        -ms-grid-row-span: 14;
        -ms-grid-column: 11;
        -ms-grid-column-span: 9;
        grid-column: 11/20;
        grid-row: 4/20;
    }
    .social {
        display: grid;
        display: -ms-grid;
        -ms-grid-row: 20;
        -ms-grid-row-span: 1;
        -ms-grid-column: 19;
        -ms-grid-column-span: 22;
        grid-area: 19/14/22/17;
        font-size: 3vh;
        padding-right: -1vh;
        padding-bottom: 1.7vh;
        -ms-flex-line-pack: center;
            align-content: center;
    }
    .fa:hover {
        color: rgba(999, 999, 999, .3);
    }
    .soFl {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        -webkit-box-pack: end;
                justify-content: center;
        text-shadow: 1px 0px 2px rgba(999, 999, 999, 0.4), -1px 0px 2px rgba(999, 999, 999, 0.4);
        letter-spacing: 1vw;
    }
    .arrow{
        display:none !important;
    }
    
    h1 {
    font-size: 4vh;
    margin-bottom: .6vw;
}
    img{
    width:100%;
}
.im{
    grid-area: 1/1/2/3;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: 1vw;

}
}

body {
    background-color: black;
    font-family: 'Archivo Narrow', sans-serif;
    font-family: 'Inconsolata', monospace;
    //font-family: 'Arvo', serif;
    / font-family: 'Fira Sans', sans-serif;
    overflow: hidden;
    
}



.thing {
    overflow: visible;

     text-shadow: .2vw 0vw .2vw rgba(999, 999, 999, 0.4), -.2vw 0vw .2vw rgba(999, 999, 999, 0.4);
    
}

.riv {
    font-family: 'Source Code Pro', monospace;
    color: rgba(999, 999, 999, .1);
    
}

.buttCon {
    color: white;
}

button {
    background-color: transparent;
}

button:focus {
    outline: none;
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
    -ms-text-shadow: 4px 0px 4px white, -4px 0px 4px white;
       text-shadow: .4vw 0vw .4vw rgba(999, 999, 999, 0.8), -.4vw 0vw .4vw rgba(999, 999, 999, 0.8);
}

button:active {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
}

.butts {
    opacity: 0;
    color: aliceblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
            justify-content: space-between;
    border: none;
}

.fa:hover {
    color: rgba(999, 999, 999, .3);
}

.soFl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    text-shadow: .2vw 0vw .4vw rgba(999, 999, 999, 0.4), -.2vw 0vw .4vw rgba(999, 999, 999, 0.4);
}

a {
    color: rgba(999, 999, 999, .3);
    text-decoration: none;
}

